<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!-- 	<settings> -->
<!-- 		<setting name="cacheEnabled" value="false" /> -->
<!-- 		<setting name="jdbcTypeForNull" value="INTEGER"/> -->
<!-- 	</settings> -->
	<typeAliases>
		<!-- 		<typeAlias alias="member" type="com.taehwy.bean.Bean"/> -->
		<!-- alias를 직접 지정해서 활용 -->
		<package name="com.webapp.webRpg.beans"/>
		<!-- 		어노테이션을 활용 -->
	</typeAliases>
	<typeHandlers>
		<!--		<typeHandler javaType="java.util.Date" jdbcType="DATE" handler="com.taehwy.dao.CustomDateHandler"/> -->
		<!-- DATE라는 커스텀 타입을 생성해서 활용함, 현재의 경우는 변환을 더해야되기 때문에 불필요 -->
		<typeHandler javaType="java.util.Date" handler="org.apache.ibatis.type.DateTypeHandler"/>
		<!-- ? -->
	</typeHandlers>
	<mappers>
		<mapper resource="com/webapp/webRpg/dao/mapper.xml"/>
		<!-- 실제 활용에서는(?, war 파일) 경로가 위와 같이 바뀌기 때문에 resource를 사용때는 이렇게 설정 -->
		<!-- <mapper class="com.taehwy.dao.mapper"/> -->
		<!-- class 형식으로 활용 -->
	</mappers>
</configuration>